#![enable(implicit_some)]
Container(
    transform: (
        id: "coins",
        width: 300,
        height: 50,
        mouse_reactive: false,
        anchor: TopLeft
    ),
    children:[
        Label(
            transform: (
                id: "coins",
                width: 300.,
                height: 50.,
                tab_order: 2,
                anchor: BottomRight,
                transparent: true,
            ),
            text: (
                text: "0",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 50.,
                color: (0.0, 0.0, 0.0, 1.0),
            )
        )
    ]
)