#![enable(implicit_some)]
Container(
    transform: (
        id: "start_menu",
        width: 1920,
        height: 1080,
        z: 350,
        mouse_reactive: false,
    ),
    background: Texture(File("textures/ui/start_final.png", ("IMAGE", ()))),
    children:[
        Image(
            transform: (
                id: "button_1",
                y: -500,
                width: 384,
                height: 96,
                tab_order: 1,
                anchor: TopMiddle,
                mouse_reactive: true,
            ),
            image: Texture(File("textures/ui/play_button.png", ("IMAGE", ()))),
        ),
        Image(
            transform: (
                id: "button_2",
                y: -625,
                width: 384,
                height: 96,
                tab_order: 1,
                anchor: TopMiddle,
                mouse_reactive: true,
            ),
            image: Texture(File("textures/ui/options_button.png", ("IMAGE", ()))),
        ),
        Image(
            transform: (
                id: "button_3",
                y: -750,
                width: 384,
                height: 96,
                tab_order: 1,
                anchor: TopMiddle,
                mouse_reactive: true,
            ),
            image: Texture(File("textures/ui/quit_button.png", ("IMAGE", ()))),
        ),

    ]
)